/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 2, 2021, 4:55:09 PM
    Author     : Christian
*/

.margenMenu{
    margin: 25px;
    padding-left: 500px;
    padding-right: 500px;
    background-color: rgb(211,242,246);
}

.margenMenu_02{

    background-color: rgb(211,242,246);
    
}

.imageCustom{
   width: 300px;
   height: 300px;
    
}

.imageCustom:hover{
     background-color: #b6d4fe;
}

.imageCustom:active{
     background-color: #20c997;
}

.btnSize{
    width: 512px;
    height: 512px;
}
btnClient{
    background-image: url("assets/img/avatardefault_92824.png");
  
}